Source: lyskom-elisp-client
Section: misc
Priority: optional
Maintainer: Joel Rosdahl <joel@rosdahl.net>
Standards-Version: 3.1.0

Package: lyskom-elisp-client
Architecture: all
Depends: emacsen
Description: Elisp client for LysKOM.
 This package is not part of the official Debian distribution.
